<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/lindseymjohnson/" target="_blank">@lindseymjohnson</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/lindseyannmatysik" target="_blank">linkedin.com/in/lindseyannmatysik</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://moonglowcrafts.com/" target="_blank">moonglowcrafts.com</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://matysik-johnson.com/" target="_blank">matysik-johnson.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:johnson.lindseyam@gmail.com" target="_blank">johnson.lindseyam@gmail.com</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:6043561462" target="_blank">715-529-8443</a></p>
